
/*Tipografia*/

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

#header, #body, #footer{
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
}



/*--------------ESTILOS RESET--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li , a {
    display: inline-block;
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: black;
}

#body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Italiana', sans-serif;
    position: relative;
    background-color: #F3D8E8;
}


/*---------------INDEX----------------------*/
/*--------------HEADER- MENU --------------*/
#header {
    width: 100%;
    position: fixed;
    background-color: #f3d8e8a3;
    backdrop-filter: blur(14px);
    top: 0px;
    z-index: 20;
}

#nav {
    width: 100%;
    background-color: #d5888762;
    text-align: center;
    padding: 15px;
}


#nav ul li a{
    margin-left: 10px;
    font-size: 28px;
    position: relative;
}


img {
    display: block;
    max-width: 100%;
}

.header_flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}

.header_flex-logo {
    display: flex;
    justify-content: center;
}

.header_flex-carrito {
    width: 40%;
}

.header_flex-carrito img {
    width: 15%;
    margin: 21px 0 0 auto;
}

.header_flex-logo img {
    margin: 0 0 0 auto;
}

nav#nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    /* flex-wrap: wrap; */
}
#nav ul li a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.5s;
}
#nav ul li a:hover:after {
    width: 100%;
}
/*espacio entre la primera secion y el header fixed*/


/*--------------MAIN--------------*/


main section:first-child {
    padding: 12rem 0 0 0;
}

#bannerproductos{
    width: 95%;
    height: auto;
    background-color: #F7A0B3;
    border-radius: 20px;
    margin: 23px auto 0 auto;
    padding: 30px 40px 30px;
}

#bannerproductos > h1 
{
    margin: 40px auto 40px auto;
    border-bottom: 2px solid black;
    width: max-content;
    ;

}

.prod_boxes img {
    margin: auto;
    padding: 25px;
}

.prod_boxes {

width: 300px;
border-radius: 10px;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0px 5px 5px 5px;

}

.flex_prod {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

h1 {

    font-size: 30px;
    text-align: center;
}

h2 {
font-size: x-large;
text-align: center;
}

h3{
font-size: large;
text-align: center;
}

.btn-carrito {
    font-size: 18px;
    border-radius: 3px;
    color: #69071e;
    font-weight: bold;
    background-color: #F48787;
    text-align: center;
    width: max-content;
    display: block;
    margin: 10px auto;
    padding: 10px;
    transition: all 0.5s;

}

.btn-carrito:hover {

    color: white;
    background: black;
}

.footerRedes {

    display: flex;
    justify-content: flex-end;
}

.footerRedes article {

    width: 5%;    
}

/*--------------FOOTER--------------*/

#footer{
    margin: 10px 0 0 0;
    padding: 8px 0;
    background-color: #d5888762;
    width: 100%;
    height: 40px;
    text-align: center;
    color: black;
}


/*---------------PRODUCTOS-------------------*/

/*MAIN*/

.h2tp {

    display: flex;
    padding: 10px 0 15px 0;
}

.ListProd {

    list-style: none;
    padding: 0;
}

.list1 {display: flex;align-items: center;margin-bottom: 8px;gap: 0rem;width: 100%;}


/*----------TIENDAS-----------*/


.h1ti {

    font-size: 30px;
    text-align: left;
    padding: 16px;
}

.h2ti {

    font-size: 30px;
    text-align: left;
    padding: 16px;
}




/*--------CONTACTO-----------*/

.h2pc {
    text-align: center;
    font-size: 50px;
    padding: 10px;

}
p{

    text-align: center;
    font-size: 30px;
    padding: 20px;
}


.wh-50 {

    font-size: 20px;
    border: none;
    font-weight: bold;

}

main section .contacto {
    padding: 50px 0 0 0;
}

section .content-boletin {
    padding: 0;
    background-image:url(../images/Bannercontacto.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wh-100 {
    font-size: 20px;
    border: none;
    font-weight: bold;

}

.ax-form {
    display: flex;
    flex-wrap: wrap;
}

.ax-form fieldset {
    width: 50%;
    padding: 0 20px;
    margin: 0 0 2rem 0;
}

.ax-form .wh-100 {
    width: 100%;
}

.ax-campo {
    position: relative;
}

.ax-campo input[type="text"],
.ax-campo input[type="email"],
.ax-campo select,
.ax-campo textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}
.ax-error {
    display: none;
}



.guardar-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    background-color: #F4A0A5;
    color: black;
    border: none;
    border-radius: 13px;
    text-decoration: none;
    width: max-content;
    font-weight: bold;
    transition: all 0.8s;
    display: block;
    padding: 0.7rem 5rem;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #d4737dc7;
    color: #fff;
}

/*-----------ESTILOS GRILLA PAG PRODUCTOS--------*/


.boxgrid img{

    object-fit: cover;
}

.gridp3 {
    grid-row-start: span 2;
}

/*----------ESTILOS TIENDAS----------*/

.tiendas__container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 

}

.tiendas__box {
    width: 600px;
    margin: 10px;
    text-align: center;
    background-color: rgb(247, 236, 243);
    border-radius: 8px;
    padding: 1rem;
}

.tiendas__ubicacion {
    width: 100%;
    border: 0;
}
#tiendas {
    margin: 3rem 0  0 0;
}

.tiendas__ubicacion iframe {
    width: 95%;
    height: 480px;
}

.tiendas__text {
    font-size: 31px;
    margin: 1rem 0 0 0;
    color: #d48686;
}

.tiendas__box p {
    font-size: 20px;
    font-weight: bold;
}


/*----------ESTILOS CHECK----------*/

.list1 input[type="checkbox"] {
    appearance: none;
    border: 2px solid #d57d82;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 1%  0 0;
}

.list1 input[type="checkbox"] + span {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.list1 label {
    width: 100%;
}
.list1 input[type="checkbox"]:checked {
    background-image: url(../images/check.png);
    background-size: cover;
    border: 1px solid transparent;
    background-repeat: no-repeat;
}

.list1 input[type="checkbox"]:checked {
    border: 2px solid #b51c25;
    background-image: url(../images/check.png);
    appearance: initial;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.list1 input[type="checkbox"]:checked + span{
    font-weight: bold; 

}

/*----------PRODUCTOS----------*/

.margin-auto {
    margin: 0 auto;
}

.container-lanzamientos {
    margin: 3rem 0 0 0;
    padding: 0 3rem;
}

.lanzamientos__items img {
    margin: 0 0 2rem 0;
}

.lanzamientos {
    align-items: center;
}

/*----------INICIO RESPONSIVE----------*/

@media screen and (max-width: 767px){
h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
p{
    font-size: 16px;
    padding: 1rem;
}    
    
    .header_flex-carrito img {
    margin: 0 auto;
    width: 35%;
}

nav#nav ul {
    flex-wrap: wrap;
    padding: 0;
}
#nav ul li a {
    font-size: 22px;
}

#bannerproductos > h1 {
    margin: 11px auto 40px auto;
}

#bannerproductos {
    margin: 2rem auto 0 auto;
    padding: 30px 22px 30px;
}

.flex_prod {
    justify-content: center;
}
#footer {
    height: auto;
}
.flex_prod {
    flex-wrap: wrap; 
}
#tiendas {
    margin: 2rem 0  0 0;
}

.tiendas__ubicacion iframe {
    height: 280px;
    width: 100%;
}

.tiendas__text {
    font-size: 25px;
}

.tiendas__box p {
    font-size: 16px;
    padding: 0.5rem;
}
.ax-form fieldset {
    width: 100%;
    margin: 0 0  1rem 0;
}

.h2pc {
    font-size: 25px;
    padding:  0 1rem;
    margin: 0rem 0 1rem 0;
}

.h2pc + p {
    padding: 0 1rem;
}

section .content-boletin {
    padding: 1rem 0 0 0;
}

.guardar-btn {
    justify-content: center;
}



@media screen and (max-width: 560px){
    .header_flex-carrito img {
    width: 47%;
}
    main section:first-child {
    padding: 9rem 0 0 0;
}
    section .content-boletin {
    margin: 2rem 0  0 0px;
}    
}


@media screen and (max-width: 420px){
    .header_flex-carrito img {
    width: 64%;
}
}

@media screen and (max-width: 410px){
    section .content-boletin {
    margin: 3rem 0  0 0px;
}
}
}