#footer {
	margin: 10px 0 0 0;
	padding: 8px 0;
	background-color: #d5888762;
	width: 100%;
	height: 40px;
	text-align: center;
	color: black;

	.footerRedes {
		display: flex;
		justify-content: flex-end;

		article {
			width: 5%;
		}
	}
}
